@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.bg-green {
    background-color: #5cb85c;
    background-size: cover;
    height: 25vh;
    margin: 10px;
}

.bg-cyan {
    background-color: #5bc0de;
    background-size: cover;
    height: 50vh;
    margin: 10px;
}

.bg-orange {
    background-color: #f0ad4e;
    background-size: cover;
    height: 75vh;
    margin: 10px;
}

.bg-red {
    background-color: #d9534f;
    background-size: cover;
    height: 100vh;
    margin: 10px;
}

.paragraph {
    color: white;
    text-align: left;
    font-size: 10px;
    padding-right: 10px;
}
